
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="hero_slider_container" style="height:50vh">
    <div class="hero_slider owl-carousel">

        <!-- Hero Slide -->
        <div class="hero_slide">
            <div class="hero_slide_background" style="background-image:url(/Content/images/slider_background.jpg)"></div>
            <div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
                <div class="hero_slide_content text-center">
                    <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut" style="margin-top:-160px;"><span>About Us</span></h1>
                </div>
            </div>
        </div>
    </div>
</div>

<body style="background-color:black;">
    <p style="color:white">
        ORİENT İnformasiya Texnologiya Mərkəzi Azərbaycanda İT sahəsində peşəkar kadrlar yetişdirmək üçün yaradılmış mərkəzdir.Şirkətin əsası 2014-cü ildə qoyulmuşdur .Missiyamız Azərbaycanda İKT sahəsində olan peşəkar kadrların sayını artırmaq,dünyaya inteqrasiya olunmaqdır. Treninqlərimiz həm korporativ şirkətlərlə, həm də qrup və ya fərdi şəkildə digər şəxslərlə aparılır.
        Halhazırda mərkəzimizdə İKT -nin bütün istiqamətləri üzrə tədris aparılır.Mərkəzimizin məzunu olmuş şəxslər halhazırda İKT - nin müxtəlif  sahələri üzrə fəaliyət göstərirlər.
    </p>

    <p style="color:white">
        •Ən güclü müəllimlər heyəti.
        Kursumuzun fəxri və ən güclü cəhətidir. Öz işlərinin peşəkarları, proqramlaşdırma sahəsində ən azı 6 il iş təcrübəsi, müasir işlənən metodikanı bilmək, proqramlaşdırma sahəsində yüksək kompetensiya və professional mühitdə şəksiz nüfuzlarının olması;
    </p>

    <p style="color:white">
        •Nəticə üçün çalışmaq.
        Bizim üçün ən vacib olanı – sizin məqsədinizdir. Siz nə istəyirsiniz və təhsilin sonunda nəyə nail olmalısınız. Istənilən İnformasiya texnologiya mərkəzi insanın həyatında yalnız bir mərhələdir. Bizim məqsədimiz – sizin tələbinizi aydın bilməkdir, maksimal effektli təhsil verməkdir, nəticədə sizi peşəkar proqramçı kimi yetişdirməkdir. Bəli, bəli məhz belə - biz sizi proqramçı kimi, yəni müəllimdən asılı olmayan, hər hansı bir şirkətdə sərbəst proqramçı kimi çalışmaq iqtiradırda olan mütəxəssis edəcəyik.
    </p>

    <p style="color:white">
        •Fərdi yanaşma.
        Müasir texnologiyanın hesabına biz sizin üçün ən münasib olan, sutkada 24 saat qrafiklə çalışırıq. Proqramın geniş spektri və öyrətmə qaydaları vərdiş etdiyiniz həyat rejimi və işlərinizə uyğun seçim etməyə yarayır. Bundan əlavə, fərdi yanaşmada siz bizim təkliflərimizi və öz istəklərinizi nəzərə alaraq proqramın məzmununu özünüz müəyyən edirsiniz.
    </p>
   </body>
