
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="hero_slider_container" style="height:50vh">
    <div class="hero_slider owl-carousel">

        <!-- Hero Slide -->
        <div class="hero_slide">
            <div class="hero_slide_background" style="background-image:url(/Content/images/slider_background.jpg)"></div>
            <div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
                <div class="hero_slide_content text-center">
                    <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut" style="margin-top:-160px;"><span>Contact Us</span></h1>
                </div>
            </div>
        </div>
    </div>
</div>
<body style="background-color:khaki">

    <div class="col-lg-3 footer_col">
        <div class="footer_column_title">Contact</div>
        <div class="footer_column_content">
            <ul>
                <li class="footer_contact_item">
                    <div class="footer_contact_icon">
                        <img src="/Content/images/placeholder.svg" alt="https://www.flaticon.com/authors/lucy-g">
                    </div>
                    Nizami 203B, AF Business House , 4-cü
                </li>
                <li class="footer_contact_item">
                    <div class="footer_contact_icon">
                        <img src="/Content/images/smartphone.svg" alt="https://www.flaticon.com/authors/lucy-g">
                    </div>
                    +994(70)269-02-99
                    +994 012-425-85-95
                </li>
                <li class="footer_contact_item">
                    <div class="footer_contact_icon">
                        <img src="/Content/images/envelope.svg" alt="https://www.flaticon.com/authors/lucy-g">
                    </div>ehtiram.hajikhanov@gmail.com
                </li>
            </ul>
        </div>
    </div>

</body>



